<template name="contato">
  <div class="body">
    <h1>Contato / Imprensa</h1>
    <ul>
      <li>Twitter: <a href="https://twitter.com/vocefiscal">https://twitter.com/vocefiscal</a></li>
      <li>Facebook: <a href="https://facebook.com/vocefiscal">https://facebook.com/vocefiscal</a></li>
      <li>Fórum: <a href="https://comunidade.vocefiscal.org">https://comunidade.vocefiscal.org</a></li>
      <li>Email: <a href="mailto:contato@vocefiscal.org">contato@vocefiscal.org</a></li>
      <li>Media kit: <a href="http://bit.ly/vocefiscal-mediakit">http://bit.ly/vocefiscal-mediakit</a></li>
    </ul>
  </div>
</template>
