<template name="faq">
  <div class="container">
    <div id="main" class="row row-fluid">
      <div class="column col-md-1"></div>

      <div id="content" class="column col-md-9">
        <h1>Como usar</h1>
        <p>Este é o canal para discutirmos o próprio site. Como faço tal coisa no site? Como podemos engajar mais gente? Que melhorias seriam bem-vindas ao software? O que está quebrado? Dê suas ideias, ajude os outros e vote nos comentários que achar mais relevantes.</p>
        {{> disqus}}
      </div>

      <div id="aside" class="column col-md-2"></div>
    </div>
  </div>
  <div class="footer">
    {{> footer}}
  </div>
</template>
