<template name="home">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Início</a></li>
      <li><a href="/faq">Como usar</a></li>
      <li><a href="/contato">Contato / Imprensa</a></li>
    </ul>
    <h3 class="muted"><a href="/">Nós Fiscais</a></h3>
  </div>

  <div class="body">
    <p>Escolha a região abaixo para coordenar esforços com pessoas da mesma área.</p>
    <div class="locators">
      {{#each locators}}
        {{> locatorItem}}
      {{/each}}
    </div>
  </div>
</template>
