<template name="home">
  <div class="container">
    <div id="main" class="row row-fluid">
      <div class="jumbotron text-center">
        <h1>Adote uma zona eleitoral</h1>
        <p class="lead">Fiscalize a eleição, garanta seu voto</p>
        <p>
          <a href="http://www.tse.jus.br/eleitor/servicos/titulo-e-local-de-votacao/consulta-por-nome" target="_blank">Descubra o número da sua zona eleitoral clicando aqui</a>
        </p>
      </div>
      <p class="text-center">
        Já somos {{monitorsCount}} fiscais, {{emptyZonesStats}}. Contamos com você!
      </p>

      <div id="content" class="column col-md-8">
        <h2 style="margin-top: 10px; margin-bottom: 6px;">Escolha seu estado</h2>
        {{#if locators.count}}
          {{> locatorsList this}}
        {{/if}}
      </div>

      <div id="aside" class="column col-md-4">
        {{> monitorElectionZoneButton}}
        {{> miniFaq}}
      </div>
    </div>
  </div>
  <div class="footer">
    {{> footer}}
  </div>
</template>
