<template name="home">
  <div class="container">
    <div id="main" class="row row-fluid">
      <div class="jumbotron text-center">
        <h1>Adote uma zona eleitoral</h1>
        <p class="lead">Fiscalize a eleição, garanta seu voto</p>
      </div>

      <div id="content" class="column col-md-9">
        {{#if locators.count}}
          {{> locatorsList this}}
        {{/if}}
      </div>

      <div id="aside" class="column col-md-3">

      </div>
    </div>
  </div>
  <div class="footer">
    {{> footer}}
  </div>
</template>
