<template name="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="/">Você Fiscal</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Exibir/esconder navegação</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Início</a></li>
            {{> monitoredLocatorNavBar}}
            <li><a href="/faq">Como usar</a></li>
            <li><a href="/contato">Contato</a></li>
            {{> loginButtons }} <!-- here -->
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="monitoredLocatorNavBar">
  {{#if monitoredLocator}}
    {{#with monitoredLocator}}
      <li>
        <a href="{{ pathFor 'locatorPage' }}">
          Sua zona eleitoral
        </a>
      </li>
    {{/with}}
  {{/if}}
</template>
