<template name="miniFaq">
  {{#markdown}}
#### O que é o Você Fiscal? ##
Você Fiscal é um projeto de Diego F. Aranha, professor da UNICAMP, e Helder Ribeiro. **O Você Fiscal surgiu para exigir mais transparência na votação eletrônica brasileira e para colocar nas mãos do eleitor (você!) o poder de fiscalizá-la.** O projeto é tocado e financiado coletivamente pela sociedade civil, sem fins lucrativos e sem vinculação a nenhum partido, grupo ou empresa.

#### O que é "adotar" uma zona eleitoral?
Adotar uma zona eleitoral significa que você se compromete a fiscalizar pelo menos um **Boletim de Urna (B.U.)** nela.

#### Para que vocês precisam disso?
Queremos levar transparência eleitoral a **todos os cantos do Brasil.** Como somos poucos e com recursos limitados, precisamos direcionar a mobilização em especial para as áreas onde faltam mais fiscais cidadãos.

Contribuindo com este mapeamento, você ajuda a aumentar a cobertura do Você Fiscal, e também pode usar esta informação para divulgar na sua própria cidade.

Se você vê que existem zonas não adotadas na sua cidade em regiões onde você conhece alguém, por exemplo, dá para dar uma ligadinha para a pessoa e convidá-la a participar também.

#### Precisa ser a minha própria zona? Vou justificar.
Não precisa ser a zona eleitoral que consta no seu título de eleitor. Se você estiver longe da sua cidade, nada impede que você contribua com a transparência eleitoral fotografando BUs onde você estiver. Nós agradecemos muito :)

#### Eu posso mesmo tirar foto do Boletim de Urna? Não é proibido?
Não é proibido. Pelo contrário, é **obrigatório** que o Boletim de Urna seja afixado em local publicamente visível, conforme determina o <a href="http://www.tse.jus.br/arquivos/tre-sp-resolucao-tse-no-23399-2014-dispoe-sobre-os-atos-preparatorios-para-as-eleicoes-de-2014/view" target="_blank">artigo 82 da resolução 23399 de 2013 do TSE</a>. É uma boa ideia levar uma foto de celular ou uma cópia impressa deste artigo, só para garantir.

#### Não entendi como usa o site.
Tudo bem, é só clicar no link ["Como usar"](/faq) na barra superior e perguntar que a gente ajuda.

#### Posso convidar mais gente?
Sim, por favor! São 500 mil urnas espalhadas pelo Brasil que temos que fiscalizar. Toda ajuda conta!
  {{/markdown}}
</template>
