/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 918px;
  }
}

.row {
  background-color: #fff;
  padding: 10px;
}

body {
  background-color: #ddd;
}

.breadcrumb, .breadcrumb li a {
  margin-bottom: 5px;
  color: #929292;
}

#locator-title {
  margin-top: 0px;
}

.btn-block {
  height: 100%;
  padding-top: 8px;
}

.btn-monitor {
  width: 267px;
  height: 39px;
}

.list-group-item-btn-monitor {
  padding: 0px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
