<template name="locatorPage">
  <div class="container">
    <div id="main" class="row row-fluid">
      <div class="well-sm text-center">
        <h1>Adote uma zona eleitoral</h1>
        <p class="lead">Fiscalize a eleição, garanta seu voto</p>
      </div>

      <ul class="breadcrumb">
        {{#each allAncestors}}
          <li>
            <a href="{{ pathFor 'locatorPage' slug=slug }}">
              {{lastSlugSegment}}
            </a>
          </li>
        {{/each}}
      </ul>

      <div id="content" class="column col-md-9">
        <div class="body">
          {{#if fullName}}
            <h1 id="locator-title">
              {{#if isElectionZone}}
                <a href="{{ pathFor 'locatorPage' slug=parentLocator.slug }}">{{parentLocator.shortNameLowerCase}}</a>
                /
              {{/if}}
              <a href="{{ pathFor 'locatorPage' }}">{{shortNameLowerCase}}</a>
              ({{monitorsCount}})
            </h1>

            {{#if children.length}}
              {{> locatorsList locators=children}}
            {{/if}}

          {{else}}
            {{> notFound}}
          {{/if}}
        </div>
      </div>

      <div id="aside" class="column col-md-3">
        {{> monitorElectionZoneButton}}
      </div>

    </div>
  </div>
  <div class="footer">
    {{> footer}}
  </div>
</template>
