<template name="locatorPage">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><a href="/">Início</a></li>
      <li><a href="/faq">Como usar</a></li>
      <li><a href="/contato">Contato / Imprensa</a></li>
    </ul>
    <h3 class="muted"><a href="/">Nós Fiscais</a></h3>
  </div>

  <div class="body">
    {{#if fullName}}
      <h1>
        {{#if parentLocator}}
          <a href="{{ pathFor 'locatorPage' slug=parentLocator.slug}}">{{parentShortName}}</a>
        {{else}}
          <a href="{{ pathFor 'home'}}">Brasil</a>
        {{/if}}
        /
        <a href="{{ pathFor 'locatorPage' }}">{{shortName}}</a>
      </h1>

      <p>
        Este é um espaço para discutir e coordenar a mobilização na sua região. Algumas dicas:
      </p>

      <ul>
        <li>Apresente-se!</li>
        <li>Clique "Subscrever" para receber novas postagens por email</li>
        <li>Seja gentil</li>
        <li>Tome iniciativa</li>
        <li>Use Control-f (ou Command-f) para buscar. Veja subregiões no fim da página.</li>
        <li>Ajude e peça ajuda :)</li>
      </ul>

      {{> disqus title=fullName}}

      {{#if childrenLocators}}
        {{> locatorsList locators=childrenLocators}}
      {{/if}}

    {{else}}
      {{> notFound}}
    {{/if}}
  </div>
</template>
