<template name="monitorElectionZoneButton">
  <h4 style="margin-bottom: 1px;">Adote sua zona eleitoral:</h4>
  <ul class="locators list-group" style="margin-bottom: 50px;">
    <li class="list-group-item {{#if hasState}}list-group-item-success text-muted{{/if}}">
      <span>Escolha um estado
        {{#if hasState}}
          <span class="label label-default pull-right">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        {{/if}}
      </span>
    </li>
    <li class="list-group-item {{#if hasCity}}list-group-item-success text-muted{{/if}}">
      <span>Escolha uma cidade
        {{#if hasCity}}
          <span class="label label-default pull-right">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        {{/if}}
      </span>
    </li>
    {{#if isElectionZone}}
      <li class="list-group-item list-group-item-btn-monitor">
        <div class="btn-monitor">
          {{#if isAlreadyMonitored}}
            <a href="{{ pathFor 'locatorPage' }}" class="unmonitorable btn btn-success btn-block">Você adotou esta zona <span class="glyphicon glyphicon-heart pull-right"></span></a>
          {{else}}
            {{#if monitoringDifferentLocator}}
              <a href="#" class="btn btn-primary btn-block disabled">Você já adotou outra <span class="glyphicon glyphicon-ban-circle pull-right"></span></a>
            {{else}}
              <a href="{{ pathFor 'locatorPage' }}" class="monitorable btn btn-primary btn-block">Adotar zona eleitoral <span class="glyphicon glyphicon-heart pull-right"></span></a>
            {{/if}}
            {{#if currentUser}}
            {{else}}
              <p class="needs-login"><small>Você precisa fazer login para adotar uma zona eleitoral</small></p>
            {{/if}}
          {{/if}}
        </div>
      </li>
    {{else}}
      <li class="list-group-item">
        <span>Escolha zona eleitoral</span>
      </li>
    {{/if}}
  </ul>
</template>
