<template name="monitorElectionZoneButton">
  <h4 style="margin-top: 15px; margin-bottom: 15px;">Adote sua zona eleitoral:</h4>
  <ul class="locators list-group" style="margin-bottom: 30px;">
    <li class="list-group-item {{#if hasState}}list-group-item-success text-muted{{/if}}">
      <span>
        {{#if hasState}}
          Escolha um estado
          <span class="label label-default pull-right">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        {{else}}
          <strong>Escolha um estado</strong>
        {{/if}}
      </span>
    </li>
    <li class="list-group-item {{#if hasCity}}list-group-item-success text-muted{{/if}}">
      <span>
        {{#if hasCity}}
          Escolha uma cidade
          <span class="label label-default pull-right">
            <span class="glyphicon glyphicon-ok"></span>
          </span>
        {{else}}
          {{#if hasState}}
            <strong>Escolha uma cidade</strong>
          {{else}}
            Escolha uma cidade
          {{/if}}
        {{/if}}
      </span>
    </li>

    {{#if isElectionZone}}
      <li class="list-group-item list-group-item-btn-monitor">
        <div class="btn-monitor">
          {{#if isAlreadyMonitored}}
            <a href="{{ pathFor 'locatorPage' }}" class="unmonitorable btn btn-success btn-block">Você adotou esta zona <span class="glyphicon glyphicon-heart pull-right"></span></a>
          {{else}}
            {{#if monitoringDifferentLocator}}
              <a href="#" class="btn btn-primary btn-block disabled">Você já adotou outra <span class="glyphicon glyphicon-ban-circle pull-right"></span></a>
            {{else}}
              <a href="{{ pathFor 'locatorPage' }}" class="monitorable btn btn-primary btn-block">Adotar zona eleitoral <span class="glyphicon glyphicon-heart pull-right"></span></a>
            {{/if}}
            {{#if currentUser}}
            {{else}}
              <p class="needs-login"><small>Faça login para adotar uma zona eleitoral</small></p>
            {{/if}}
          {{/if}}
        </div>
      </li>
    {{else}}
      <li class="list-group-item">
        <span>
          {{#if hasCity}}
            <strong>Escolha zona eleitoral</strong>
          {{else}}
            Escolha zona eleitoral
          {{/if}}
        </span>
      </li>
    {{/if}}
  </ul>

  <p><strong>Você pode consultar qual é a sua zona eleitoral <a href="http://www.tse.jus.br/eleitor/servicos/titulo-e-local-de-votacao/consulta-por-nome" target="_blank">neste site do TSE</a>, não precisa saber o número do título de eleitor.</strong></p>

</template>
